@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "Ubuntu";
}

body {
    font-family: inherit;
    background: url("stacked-waves-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}


input, button {
    font-family: inherit;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

input:hover{
    background: #f3f3f3;
}

button {
    background-color: #607aee;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #5266be;
}
